@charset "UTF-8";

body {
    background-color: rgb(182, 226, 186);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(0, 104, 9);
}

#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(61, 110, 65);
}